.boxes {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  color: red;
  margin: 20px;
  border-radius: 25px;
  background-color: brown;
  float: left;
  cursor: pointer;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 1px;
}

.grid-menu-heading {
  padding: 5px;
  background-color: rgb(114, 250, 216);
  text-align: center;
}

.grid-items-heading {
  padding: 5px;
  background-color: rgb(114, 250, 216);
  text-align: center;
}

.grid-cart-heading {
  padding: 5px;
  background-color: rgb(114, 250, 216);
  text-align: center;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  /* padding: 5px; */
}

.links {
  display: flex;
  align-items: center;
}

.search {
  padding-right: 50px;
}

input {
  padding-left: 8px;
  padding-top: 5px;
  border-radius: 10px;
}

.login {
  padding-right: 50px;
  cursor: pointer;
}

.back {
  margin-right: 50px;
  border: 1px solid burlywood;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.grid-menu {
  text-align: center;
}

.grid-items {
  text-align: center;
}

.grid-cart {
  text-align: center;
}

.veg {
  border: 1px solid;
  margin: 15px;
  border-radius: 15px;
  padding: 5px;
  background-color: burlywood;
  cursor: pointer;
}

.veg-starters {
  color: aliceblue;
  width: 50%;
  border: 1px solid;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(3, 136, 189);
  cursor: pointer;
  margin-bottom: 8px;
}

.veg-main {
  color: aliceblue;
  width: 50%;
  border: 1px solid;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(3, 136, 189);
  cursor: pointer;
}
.nonveg {
  border: 1px solid;
  margin: 15px;
  border-radius: 15px;
  padding: 5px;
  background-color: burlywood;
  cursor: pointer;
}

.nonveg-starters {
  color: aliceblue;
  width: 60%;
  border: 1px solid;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(230, 119, 75);
  cursor: pointer;
  margin-bottom: 8px;
}

.nonveg-main {
  color: aliceblue;
  width: 60%;
  border: 1px solid;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(230, 119, 75);
  cursor: pointer;
}
.items {
  color: white;
  border: 1px solid;
  width: 20%;
  float: right;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
}
.items-veg {
  background-color: cadetblue;
}

.items-nonveg {
  background-color: rgb(218, 25, 11);
  color: aliceblue;
}

.increment {
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  margin-right: 8px;
  cursor: pointer;
}

.decrement {
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  margin-left: 8px;
  cursor: pointer;
}
